button {
cursor: pointer;
width: 100px;
height: 100px;
border-radius: 50px;
border-color: 3px #ffffff solid;
font-weight: bold;
margin-left: 60px;
}

button:hover {
background-color: rgb(194, 8, 39);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 19px ;
width: 105px;
height: 105px;
border-radius: 52.5px;
}

.boton-clic{
background-color: rgb(120, 240, 240);
}

.boton-reiniciar{
background-color: rgb(93, 243, 63);
}